/* General code */
body{
  background-color: #1D1F20;
  font-family:'Ubuntu Condensed' Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.925);
}

/* Top bar and welcome section */

.logo{
  width: 2%;
  height:auto;
  margin-left: 1.7%;
}

.logo:hover{
  opacity: 0.9;
  color: #1D1F20;
  border-radius: 7%;
  transition-duration: 0.3s;
  
}

.navbar{
  text-align: right;
  margin-top: 2%;
  margin-right: 4%;
  color: deepskyblue;
}

.resume-button, .email{
  border-style: solid;
  border-width: 0.05cm;
  border-radius: 7%;
  padding: 0.25%;
  text-decoration: none;
}

.resume-button:hover, .email:hover{
  background-color: rgba(0, 191, 255, 0.616);
  opacity: 0.9;
  color: #1D1F20;
  border-radius: 7%;
  transition-duration: 0.3s;
}

a:visited, a{
  text-decoration: none;
  font-size: large;  
  color: inherit;
}

.h5{
  margin-right: 2%;
}

.welcome{
  display: block;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.925);
  margin-top: 15%;
  padding-right: 45%;

  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.intro{
  font-weight:lighter;
  padding-left: 38%;
  padding-right: 6%;
  font-size:large;
  position: inherit;
}

/* Body of the page */

.summary{
  font-size: large;
  position: absolute;
  margin-top: 16%;
  padding-right: 50%;
  margin-left: 25%;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
  }

.summary.active{
  transform: translateY(0);
  opacity: 1;
}


.portrait{
  display: block;
  position: absolute;
  margin-left: 45%;
  border-radius: 20%;
}

.me{
  font-weight: bold;
  display: inline;
  text-decoration: underline;
}

.text{
  display: inline;
}


/* Article Cards */

.article-card{
  background-color: #1D1F20;
}

.card{
  display: flex;
  margin-top: 55%;
  margin-left: 19%;
  margin-bottom: 1%;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.card.active{
  transform: translateY(0);
  opacity: 1;
}

.card-1, .card-2, .card-3{
  margin-left: 2%;
  padding: 5px;
  border: 1px solid #080b0c;
}

/* Sidebar */
.social{
  position: fixed;
  width: 2%;
  margin-left: 1%;
  margin-top: 10%;
  color: rgb(255, 255, 255);
}

.linked:hover, .git:hover{
  opacity: 0.5;
  transition-duration: 0.3s;
}